@use "sass:map";
@import "style/pages/all";

@mixin header-small-device {

    .hero-category {
        margin-bottom: 30px;    
    }
    .hero-search-form {
        padding-left: unset !important;
        width: 530px !important;
    }
    .header_top,
    .header_menu,
    .header_cart {
        display: none;   
    }
    .humberger_open {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 100%;

        svg {
            font-size: 30px;
            color: map.get($theme-color, "normal_text");
        }
    }

    .humberger_menu_wrapper {
        position: fixed;
        width: 300px;
        background: #ffffff;
        height: 100%;
        overflow-y:auto;
        z-index: -9999;
        padding: 30px;
        padding-top: 50px;
        opacity: 0;
        display: block;
        transition: all 0,6s;
        &.show {
            opacity:    1;
            z-index: 9999̣;
        };
    }
    .humberger_menu_overlay {
        position: fixed;
        left: o; 
        top: 0;
        height: 100%;
        width: 100%;
        background: rba(0, 0, 0, 0.5);
        z-index: 9999;
        visibility: hidden;
        transition: all 0.6s;
    
        &.active { 
            visibility: visible !important;
        }
    }

    .humberger_menu_cart {
        display: flex;
        margin-bottom: 25px;

        .header_cart_price {
            font-size: 14px;
            color: #6f6f6f;

            span {
                color: map.get($theme-color, "bold_text");
                font-weight: 700;
            }
        }

        ul {
            list-style: none;
            display: inline-block;
            margin-right: 15px;

            li:last-child {
                margin-right: 0;
            }

            li {
                position: relative;
                a {
                    font-size: 18px;
                    color: map.get($theme-color, "normal_text");

                    span {
                        color: #ffffff;
                        background: map.get($theme-color, "main");
                        height: 20px;
                        left: 10px;
                        top: -10px;
                        border-radius: 40px;
                        display: inline-block;
                        text-align: center;
                        line-height: 20px;
                        font-size: 13px;
                        position: absolute;
                        padding: 0px 7px;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    .humberger_menu_widget {
        margin-bottom: 20px;
        .header_top_right_auth {
            display: block;
            font-size: 14px;
            color: map.get($theme-color, "normal_text");
            text-decoration: none;
        }
    }


}
