@use "sass:map";
@use "header";
@import "style/pages/all";

$bannerImg: "/assets/users/images/hero/hero.jpg";

.header_top {
    background: #f5f5f5;
}
.header_top_left {
    ul {
        display: flex;
        column-gap: 20px;
          list-style: none;
          align-items: center;
          padding: 10px 0 13px;
    }
    li {
        font-size: 14px;
        display: flex;
        align-items: center;
        color: map.get($theme-color, "normal_text");
        column-gap: 2px;
    }
    li:first-child {
        position: relative;
        &:after{
            position: absolute;
            right: -10px;
            top: 1px;
            height: 20px;
            width: 1px;
            background: black;
            opacity: 0.1;
            content: "";

        }
    }
}
   
        
    

.header_top_right {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px 0 13px;
    ul {
        display: flex;
        column-gap: 5px;
        list-style: none;
    }
    a {
        font-size: 14px;
        display: flex;
        align-items: center;
        color: map.get($theme-color, "normal_text");
    }
    li:last-child {
        cursor: pointer;
        margin-left: 10px;

    }
    
    span {
        font-size: 14px;
        margin-left: 2px;
    }
}

.header_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px 0;
    ul {
        display: flex;
        margin-right: 25px;
        li {
            position: relative;
            list-style: none;
            margin-left: 20px;
            svg {
                font-size: 25px;
                color: map.get($theme-color, "normal_text");
            }
            span {
                color: white;
                background:map.get($theme-color, "main") ;
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 400;
                left: 20px;
                top: -6px;
            }
        }
    }
}

.header_logo {
    padding: 15px 0;
}

.header_menu {
    padding: 24px 0;
    ul {
        display: flex;
        list-style: none;
        justify-content: space-between;

        li {
            position: relative;
            list-style: none;
            a {
                text-decoration: none;
                font-size: 14px;
                color: map.get($theme-color, "bold_text");
                text-transform: uppercase;
                font-weight: bold;
                letter-spacing: 2px;
                transition: all 0,3s;
                padding: 5px 0;
                display: block;
            }
        }

        li:hover .header_menu_dropdown {
            opacity: 1;
            visibility: visible;
        }
        .active a {
            color: map.get($theme-color, "main");
        }
        .header_menu_dropdown {
            background: #222222;
            position: absolute;
            display: block;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all, 0,3s;
            opacity: 0;
            visibility: hidden;

            li {
                a {
                    text-transform: capitalize;
                    color: #ffffff;
                    font-size: 14px;
                    padding: 5px 20px;
                }
                :hover {
                    color: map.get($theme-color, "main");
                }
            }
        }

    }
}

.hero-category{

    position: relative;
    
    .hero-category-all {
        background: map.get($theme-color, "main");
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        cursor: pointer;
        color: #ffffff;
    
        svg,span {
            font-size: 16px;
            margin-right: 5px;
            font-weight: 700;   
        }
        svg {
            font-size: 20px;
            font-weight: bold;
        }
    
    }
    
    ul {
        border: 1px solid #ebebeb;
        position: absolute;
        opacity: 1;
        width: 99%;
        background: #ffffff;
        transition: all 0,2s;
        
        li {
        list-style: none;
        
        a {
            text-decoration: none;
            background-color: transparent;
            font-size: 16px;
            color: map.get($theme-color, "normal_text");
            line-height: 39px;
            display: block;
            padding-left: 40px;
        }

     

        &:hover {
            background: #f7ffff;

            a{
                color: map.get($theme-color, "main");
            }
        }

        }

        &.hiden {
            opacity: 0;
        }
    }

}
.hero-search-container {
    
    .hero-search-form {
        padding-left: 15px;
        width: 610px;
        height: 50px;
        float: left;
        margin-bottom: 30px;

        form {
            display: flex;
            align-items: center;
        }

        input {
            border: none;
            height: 48px;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 20px;
            border: 1px solid #ebebeb;
            width: 70%;
    
            :focus {
                outline: none;
                border: none;
            }
        }
    
        button {
            font-size: 14px;
            color: #ffffff;
            font-weight: 800;
            text-transform: uppercase;
            display: inline-block;
            padding: 16px 30px 17px;
            background: map.get( $theme-color, "main");
            border: none;
            cursor: pointer;
          
        }
    }

    .hero-search-phone {
        display: flex;
        align-items: center;
    }
    .hero-search-phone-icon {
        font-size: 25px;
        margin-right: 10px;
        background: #f5f5f5;
        line-height: 50px;
        text-align: center;
        border-radius: 50%;
        float:left;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: map.get($theme-color, "main");
    }

    .hero-search-phone-text {

        display: inline-block;

        p {
            color: map.get($theme-color, "normal_text");
            font-weight: bold;
            margin-bottom: 5px;
        }
        span {
            font-size: 14px;
            color: #6f6f6f;
        }
    }
    .hero-item {
        margin-left: 15px;
        background-image: url($bannerImg);
        background-image: no-repeat;
        background-size: cover;
        height: 410px;
        display: flex;
        align-items: center;
        width: 100%;
        
        .hero-text{
            padding-left: 75px;

            span {
                font-size: 14px;
                text-transform: uppercase;
                font-weight: 700;
                letter-spacing: 4px;
                color: map.get($theme-color, "main");
            }

            h2 {
                color: #f5f5f5;
                font-size: 45px;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 52px;
                letter-spacing: 4px;
                color: #f5f5f5;
                margin: 10px 0;
            }

            p {
                font-size: 16px;
                color: #6f6f6f;
                font-weight: 400;
                line-height: 26px;
                margin: 0 0 15px 0;
            }

            a {
                display: inline-block;
                font-size: 14px;
                padding: 10px 28px 10px;
                color:#ffffff;
                text-transform: uppercase;
                font-weight: 700;
                background: map.get($theme-color, "main");
                letter-spacing: 2px;
                text-decoration: none;
            }

        }

    }

}

.humberger_menu_wrapper, .humberger_open {
    display: none;      
}
@include Responsive($MEDIUN_DEVICE) {
    .hero-search-form{
        width: 530px !important;   
    }
}

@include Responsive($TABLET_DEVICE) {
    // .hero-category {
    //     margin-bottom: 30px;    
    // }
    // .hero-search-form {
    //     padding-left: unset !important;
    //     width: 530px !important;
    // }
    // .header_top,
    // .header_menu,
    // .header_cart {
    //     display: none;   
    // }
    // .humberger_open {
    //     display: flex;
    //     align-items: center;
    //     justify-content: flex-end;
    //     height: 100%;

    //     svg {
    //         font-size: 30px;
    //         color: map.get($theme-color, "normal_text");
    //     }
    // }

    // .humberger_menu_wrapper {
    //     position: fixed;
    //     width: 300px;
    //     background: #ffffff;
    //     height: 100%;
    //     overflow-y:auto;
    //     z-index: -9999;
    //     padding: 30px;
    //     padding-top: 50px;
    //     opacity: 0;
    //     display: block;
    //     transition: all 0,6s;
    //     &.show {
    //         opacity:    1;
    //         z-index: 9999̣;
    //     };
    // }
    // .humberger_menu_overlay {
    //     position: fixed;
    //     left: o; 
    //     top: 0;
    //     height: 100%;
    //     width: 100%;
    //     background: rba(0, 0, 0, 0.5);
    //     z-index: 9999;
    //     visibility: hidden;
    //     transition: all 0.6s;
    
    //     &.active { 
    //         visibility: visible !important;
    //     }
    // }

    // .humberger_menu_cart {
    //     display: flex;
    //     margin-bottom: 25px;

    //     .header_cart_price {
    //         font-size: 14px;
    //         color: #6f6f6f;

    //         span {
    //             color: map.get($theme-color, "bold_text");
    //             font-weight: 700;
    //         }
    //     }

    //     ul {
    //         list-style: none;
    //         display: inline-block;
    //         margin-right: 15px;

    //         li:last-child {
    //             margin-right: 0;
    //         }

    //         li {
    //             position: relative;
    //             a {
    //                 font-size: 18px;
    //                 color: map.get($theme-color, "normal_text");

    //                 span {
    //                     color: #ffffff;
    //                     background: map.get($theme-color, "main");
    //                     height: 20px;
    //                     left: 10px;
    //                     top: -10px;
    //                     border-radius: 40px;
    //                     display: inline-block;
    //                     text-align: center;
    //                     line-height: 20px;
    //                     font-size: 13px;
    //                     position: absolute;
    //                     padding: 0px 7px;
    //                     font-weight: 500;
    //                 }
    //             }
    //         }
    //     }
    // }

    // .humberger_menu_widget {
    //     margin-bottom: 20px;
    //     .header_top_right_auth {
    //         display: block;
    //         font-size: 14px;
    //         color: map.get($theme-color, "normal_text");
    //         text-decoration: none;
    //     }
    // }

    // .humberger_menu_nav {}
    @include header.header-small-device;

}

@include Responsive($SWIDE_MOBILE) {   
    @include header.header-small-device;
    .hero-search {
        display: grid;
    }
    .header_logo {
        width: max-content;
    }
    .hero-search-form {
        width: 550px !important;
    }
    .hero-search-phone-text {
        margin-bottom: 30px;
    }
    .hero-item {
        margin-left: unset !important;
    }
    
}
@include Responsive($SMALL_DEVICE) {
    .hero-search-form {
        width: 350px !important;
    }
    .button {
        width: 150px !important;
        height: 50px !important;
    }  
}




